################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DocumentViewerApp/.vs/DocumentViewerApp
/DocumentViewerApp/.vs/ProjectEvaluation
[Bb]in/
[Oo]bj/